<%= form_with(model: intervention, local: true) do |form| %>
  <% if intervention.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(intervention.errors.count, "error") %> prohibited this intervention from being saved:</h2>

      <ul>
      <% intervention.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>




<%# ----------------------------- intervention form ------------------------------- %>
<br><br>

<center>

<%= form_for @intervention do |f| %>
    <div class="container">
      <div class-"row">
        <div class="card">
          <h4 class="card-header">STEP 1</h4>
          <div class="card-body">
            <div class="card-title">

              <%= f.label :customer_id, "Find a customer" %>
              <select class="custom-select mb-0 mr-sm-0 mb-sm-0"<%= form.select(:customer_id) do %>>
                <option selected>Find a Customer</option>
                  <%= @customer.each do |c| %>
                <option value="<%= c.id %>"><%= c.CompanyName %></option>
                <% end %>
              <% end %>
              
              </select>
            </div>
        </div>
      </div>

      <%# STEP 2 ----------------------------------- %>
      
      <div class-"row ">
        <div id="step2" class="card">
          <h4 class="card-header">STEP 2</h4>
          <div class="card-body">
           

      <div class="field">
        <%= f.label :building_id, "Find a building" %>
        <div class="card-title">
        
        
        <%= f.grouped_collection_select :BuildingID, Customer.order(:CompanyName), :buildings, :CompanyName, :id, :addressBuilding, include_blank: true %>
      </div>
      
     
     </div>
     </div>
     </div>
   
     <%# STEP 3 ----------------------------------- %>

     <div class-"row ">
        <div id="step3" class="card">
          <h4 class="card-header">STEP 3</h4>
          <div class="card-body">
           

      <div class="field">
        <%= f.label :battery_id, "Find a Battery" %>
        <div class="card-title">
        <%= f.grouped_collection_select :BatteryID, Building.order(:addressBuilding), :batteries, :addressBuilding, :id, :id, include_blank: true %>
      </div>
      
     
     </div>
     </div>
     </div>

     <%# STEP 4 ----------------------------------- %>

     <div class="container" id="step4">
      <div class-"row">
        <div class="card">
          <h4 class="card-header">STEP 4</h4>
          <div class="card-body">
            <div class="card-title">
              <%= f.label :column_id, "Find a customer" %>
              <select class="custom-select mb-0 mr-sm-0 mb-sm-0"<%= form.select(:column_id) do %>>
                <option selected>Find a Column</option>
                  <%= @column.each do |c| %>
                <option value="<%= c.id %>"><%= c.column_id %></option>
                <% end %>
              <% end %>
              </select>
            </div>
        </div>
      </div>



<input style="width: 40rem;" class="btn btn-danger" type="submit" value="SUBMIT">
  
<% end %>
<% end %>
</center>